<footer>

        <hr>
        <nav>
            <a href="https://webpages.charlotte.edu/pmurra16/">Charlotte.edu</a>
            |
            <a href="https://github.com/pmurray7134">Github</a>
            |
            <a href="https://pmurray7134.github.io/">Github.io</a>
            |
            <a href="https://pmurray7134.github.io/itis3135/">Course.io</a>
            |
            <a href="https://www.freecodecamp.org/pmurra16">freeCodeCamp</a>
            |
            <a href="https://www.codecademy.com/profiles/beta2092900008">Codecademy</a>
            |
            <a href="https://www.linkedin.com/in/preston-murray-0b8764298/">LinkedIn</a>
        </nav>
        <p>Page Built by <a href="afternoonpmllc.com/">Afternoon P.M. LLC </a>&copy;2025</p>
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
            <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." />
        </a>
        <hr>
        
    </footer>