<header>
        <h1>Preston Murray's | Peculiar Muskox | ITIS3135</h1>
        <hr>
        <nav>
            <a href="./">Home</a>
            |
            <a href="introduction.html">Introduction</a>
            |
            <a href="contract.html">Contract</a>
            |
            <a href="afternoonpmllc.com/">Afternoon P.M. LLC</a>
            |
            <a href="peculiarmuskox/about.html">Peculiar Muskox</a>
            |
            <a href="website_evaluations.html">CRAP Website Evaluations</a>
        </nav>
        <nav>
            <a href="stuff/THis IS Sooooooooooo 😮.htm">CRAPPY PAGE!!!</a>
            |
            <a href="hobby/index.html">Hobby Page</a>
        </nav>
    </header>